body {
  background-color: black;
  color: white;
  margin: 0;                 
  height: 100%;
  width: 100%;
  display: flex;
}

#header {
  display: fixed;
  flex-direction: column;
  gap: 25px;
  justify-content: top;
  text-align: left;
}

#info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  margin:auto;
  flex-grow: 1;
}

#links {
  display: flex;
  justify-content: center;
  gap: 20px;

  ul {
    list-style: none;
    padding: 10px 15px;
    margin: 0;
    display: block;
    gap: 20px;

    li {
      a {
        text-decoration: none;
        color: var(--accent);
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#spacer {
  display: flex;
  flex-grow: 1;
}